<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warhammer 40,000 - El Grimdark del Futuro</title>
    <link rel="icon" type="image/jpg" href="/Imagenes/Warhammer_40k_logotipo_2.png"/>
    <link rel="stylesheet" href="../css/estilo_formulario.css" type="text/css">
    <link rel="stylesheet" href="./css/estilo.css">
</head>
<body>

    <header>
        <nav>
            <a href="../Index.html">Index</a>
            <a href="./Introduccion.html">Introducción</a>
            <a href="./Facciones.html">Facciones</a>
            <a href="./Galeria.html">Galería</a>
            <a href="./Comprar.html">Comprar</a>
            <a href="./Formulario.html">Formulario</a>
            <i><strong><u><a href="./Contacto.html">Contacto</a></u></strong></i>
        </nav>
    </header>
    
    <section id="contacto" class="contacto warhammer-contacto">
        <div class="contenedor">
            <h2>Contacto: Comunícate con el Imperio</h2>
            <p>¿Tienes preguntas, sugerencias o deseas unirte a nuestras filas? Envíanos tus consultas o visita nuestra sede para jurar lealtad al Emperador.</p>
            
            <div class="contacto-contenido">
                <!-- Información de Contacto -->
                <div class="info-contacto">
                    <h3>Información de la Fortaleza</h3>
                    <p><strong>Fortaleza:</strong> Terra, Segmentum Solar</p>
                    <p><strong>Vox-canal:</strong> +123 456 7890</p>
                    <p><strong>Email:</strong> contacto@imperium40k.com</p>
                </div> <!-- Fin de info-contacto -->

                <h2>Contacta con el Imperio</h2>
                <div class="map-container">
                    <h2 class="map-title">Nuestra ubicación</h2>
                    <!-- Mapa de Google integrado a través de iframe -->
                    <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.9872043685556!2d4.351710515746381!3d50.85033997953345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c380d730be07%3A0x503e50fbed40b6b!2sWarhammer%20Headquarters!5e0!3m2!1sen!2s!4v1666005795716!5m2!1sen!2s" 
                        width="600" height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div> <!-- Fin de map-container -->
            </div> <!-- Fin de contacto-contenido -->
        </div> <!-- Fin de contenedor -->
    </section> <!-- Fin de contacto -->

    <footer>
        <p>&copy; 2024 Warhammer 40K. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
