<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería Warhammer 40k</title>
    <link rel="icon" type="image/jpg" href="/Imagenes/Warhammer_40k_logotipo_2.png"/>
    <link rel="stylesheet" href="../css/estilo_galeria.css" type="text/css">
</head>
<body>
    
    <header>
        <nav>
            <a href="../Index.html">Index</a>
            <a href="./Introduccion.html">Introducción</a>
            <a href="./Facciones.html">Facciones</a>
            <strong><u><a href="./Galeria.html">Galería</a></u></strong>
            <a href="./Comprar.html">Comprar</a>
            <a href="./Formulario.html">Formulario</a>
            <a href="./Contacto.html">Contacto</a>
        </nav>
    </header>

    <h1 style="text-align:center; padding:20px 0; font-size: 36px; border-bottom: 2px solid #fd0000;">Galería Warhammer 40k</h1>

    <div class="gallery">
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Marines_Espaciales.jpg" alt="Space Marines">
            <h3>Space Marines</h3>
            <p>Guerreros de élite al servicio del Emperador.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Orkos.jpg" alt="Orks">
            <h3>Orks</h3>
            <p>Criaturas brutales y salvajes que buscan la guerra.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Eldar.jpg" alt="Eldar">
            <h3>Eldar</h3>
            <p>Una antigua raza de guerreros psíquicos.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Marines_Espaciales_Chaos.jpg" alt="Chaos">
            <h3>Fuerzas del Caos</h3>
            <p>Los seguidores de los Dioses Oscuros.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Necrones.jpg" alt="Necrons">
            <h3>Necrons</h3>
            <p>Máquinas antiguas con un odio eterno por los vivos.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Tyranidos.jpg" alt="Tyranids">
            <h3>Tyranids</h3>
            <p>Una amenaza devoradora de galaxias.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Taus.jpg" alt="Taus">
            <h3>Taus</h3>
            <p>Un Imperio naciente que busca el bien supremo.</p>
        </div>
        <div class="gallery-item">
            <img src="../Imagenes/Combat_Patrol_Ligas_Votann.jpg" alt="Votann">
            <h3>Votann</h3>
            <p>Unos enanos aguerridos que protegerán sus tesoros a toda costa.</p>
        </div>
    </div>

</body>
</html>
