<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción a Warhammer 40k</title>
    <link rel="icon" type="image/jpg" href="/Imagenes/Warhammer_40k_logotipo_2.png"/>
    <link rel="stylesheet" href="../css/estilo_introduccion.css" type="text/css">
</head>
  
<body>

    <header>
        <nav>
            <a href="../Index.html">Index</a>
            <i><strong><u><a href="./Introduccion.html">Introducción</a></u></strong></i>
            <a href="./Facciones.html">Facciones</a>
            <a href="./Galeria.html">Galería</a>
            <a href="./Comprar.html">Comprar</a>
            <a href="./Formulario.html">Formulario</a>
            <a href="./Contacto.html">Contacto</a>
        </nav>
    </header>
    
    <div class="container">
        <h1>Bienvenido al mundo de Warhammer 40k</h1>
    
        <section class="section">
            <h2>¿Qué es Warhammer 40.000?</h2>
            <img src="../Imagenes/Warhammer_40k_paint.png" alt="Warhammer 40K Universe" class="image-right">
            <p>Warhammer 40,000, a menudo abreviado como Warhammer 40K o simplemente 40K, es un juego de guerra en miniatura ambientado en un universo distópico de un futuro lejano en el que la humanidad está atrapada en un conflicto eterno con especies alienígenas, demonios y otras amenazas. Warhammer 40K, creado por Games Workshop, es famoso por su rica tradición, su compleja estrategia y el aspecto artístico de coleccionar, ensamblar y pintar miniaturas. En esencia, Warhammer 40K es un juego de guerra táctica. Los jugadores crean ejércitos de una de las muchas facciones, cada una con sus unidades, fortalezas y debilidades únicas. Estos ejércitos están representados por miniaturas muy detalladas, que los jugadores mueven por un campo de batalla, ejecutando maniobras estratégicas y participando en combates usando una combinación de tiradas de dados, reglas y habilidades de unidad.</p>  
            <div class="clearfix"></div>
        </section>
    
        <section class="section">
            <h2>Cómo Jugar Warhammer 40,000</h2>
            <img src="../Imagenes/Warhammer_40k_gameplay.png" alt="Warhammer Gameplay" class="image-left">
            <p>Para jugar a Warhammer 40K, primero debes elegir una facción. Cada facción tiene su propia lista de ejército, historia y modo de juego. Una vez que hayas seleccionado tu facción, tendrás que reunir miniaturas, que puedes personalizar y pintar a tu gusto. Para construir un ejército, debes seleccionar unidades de acuerdo con las reglas y los límites de puntos establecidos por la edición actual del juego. El juego se juega normalmente en una mesa que representa un campo de batalla. Los jugadores se turnan para mover sus unidades, atacar y usar habilidades especiales. El objetivo varía según el escenario, pero generalmente implica objetivos como capturar puntos estratégicos, eliminar unidades enemigas o sobrevivir hasta el final del juego. El resultado de las batallas se determina mediante una combinación de estrategia, suerte (tiradas de dados) y lo bien que hayas construido tu ejército.</p> 
            <div class="clearfix"></div>
        </section>
    
        <section class="section">
            <h2>La Historia de Warhammer 40k</h2>
            <img src="../Imagenes/Warhammer_40k_Books.png" alt="Warhammer Books" class="image-right">
            <p>Uno de los aspectos más atractivos de Warhammer 40K es su historia extensa y oscura. El universo está ambientado en el 41.º milenio, donde el Imperio de la Humanidad, un vasto pero decadente imperio galáctico, está rodeado de enemigos por todos lados. El transfondo está lleno de historias de batallas épicas, héroes trágicos y relatos sombríos de supervivencia contra probabilidades imposibles. Este conocimiento se explora en profundidad en las numerosas novelas, códices y otras publicaciones de Warhammer 40K.</p> 
            <p>Libros como la serie "La Herejía de Horus" profundizan en la historia del universo, explorando los orígenes de sus conflictos y la caída de grandes héroes. Estas historias añaden profundidad al juego, proporcionando contexto y antecedentes para las facciones y personajes que los jugadores controlan en la mesa.</p> 
            <div class="clearfix"></div>
        </section>
    
        <section class="section">
            <h2>Videojuegos de Warhammer 40k</h2>
            <img src="../Imagenes/Warhammer_40k_Videogamer.png" alt="Warhammer Video Games" class="image-left">
            <p>El universo de Warhammer 40K también ha cobrado vida en una variedad de videojuegos, que van desde juegos de estrategia en tiempo real hasta juegos de disparos en primera persona. Estos juegos permiten a los jugadores experimentar los vastos y brutales conflictos del 41.º milenio de una manera más interactiva e inmersiva. Algunos de los juegos más populares de Warhammer 40K incluyen la serie "Dawn of War", que se centra en batallas a gran escala, y "Warhammer 40,000: Space Marine", un juego lleno de acción que pone a los jugadores en la armadura de un Ultramarine que lucha contra hordas de Orcos y fuerzas del Caos.</p> 
            <p>Estos juegos a menudo se mantienen fieles a la tradición y los temas del juego de mesa, ofreciendo tanto a los fanáticos como a los recién llegados la oportunidad de involucrarse con el universo de Warhammer 40K de diferentes maneras.</p>
            <div class="clearfix"></div>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Warhammer 40K. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
